.disk {
    margin-top: 20px;
}

.disk #btns {
    display: flex;
}

.disk #create {
    margin-left: 10px;
}

.disk__plate, .disk__list {
    height: 20px;
    width: 20px;
    border: none;
    outline: none;
    cursor: pointer;
    background: no-repeat center center;
    background-size: contain;
    margin: 0 10px;
}
.disk__list {
    background-image: url("../../assets/img/list.svg");
}
.disk__plate {
    background-image: url("../../assets/img/plate.svg");
}

.popup {
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,0.5);
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup #content {
    width: 400px;
    background: white;
    padding: 20px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
}

.popup__create {
    align-self: flex-end;
}

.popup__header {
    display: flex;
    justify-content: space-between;
}

.disk__upload-input {
    display: none;
}

.disk__upload-label {
    border: 2px dashed #566885;
    padding: 5px 10px;
    cursor: pointer;
    margin-left: 10px;
}

.drop-area {
    width: 100%;
    height: calc(100vh - 50px - 40px);
    margin: 20px;
    border: dashed #566885 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
}

input {
    margin: 20px 0px;
}


.loader__block {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 50px);
}
/* HTML: <div class="loader"></div> */
.loader {
    width: 50px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 8px solid #566885;
    animation:
      l20-1 0.8s infinite linear alternate,
      l20-2 1.6s infinite linear;
  }
  @keyframes l20-1{
     0%    {clip-path: polygon(50% 50%,0       0,  50%   0%,  50%    0%, 50%    0%, 50%    0%, 50%    0% )}
     12.5% {clip-path: polygon(50% 50%,0       0,  50%   0%,  100%   0%, 100%   0%, 100%   0%, 100%   0% )}
     25%   {clip-path: polygon(50% 50%,0       0,  50%   0%,  100%   0%, 100% 100%, 100% 100%, 100% 100% )}
     50%   {clip-path: polygon(50% 50%,0       0,  50%   0%,  100%   0%, 100% 100%, 50%  100%, 0%   100% )}
     62.5% {clip-path: polygon(50% 50%,100%    0, 100%   0%,  100%   0%, 100% 100%, 50%  100%, 0%   100% )}
     75%   {clip-path: polygon(50% 50%,100% 100%, 100% 100%,  100% 100%, 100% 100%, 50%  100%, 0%   100% )}
     100%  {clip-path: polygon(50% 50%,50%  100%,  50% 100%,   50% 100%,  50% 100%, 50%  100%, 0%   100% )}
  }
  @keyframes l20-2{ 
    0%    {transform:scaleY(1)  rotate(0deg)}
    49.99%{transform:scaleY(1)  rotate(135deg)}
    50%   {transform:scaleY(-1) rotate(0deg)}
    100%  {transform:scaleY(-1) rotate(-135deg)}
  }